<mat-card>
  <mat-card-content>

    <div class="header">
      <P>Sign Into Your Account </P>
    </div>
    <form  name="loginForm"  [formGroup]="signInForm">
      <div class="emailInput">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Email</mat-label>
          <input formControlName="username" matInput placeholder="Enter email address" required />

        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Password</mat-label>
          <input  formControlName="password"  matInput [type]=" hide ? 'password' : 'text'" required />
             <button  mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide Password'"
                   [attr.aria-pressed]="hide">
              <mat-icon>
              {{hide ? 'visibility_off' : 'visibility'}}
             </mat-icon>
             </button>

      </mat-form-field>
      </div>

    </form>
    <div class="card-action center">
      <button mat-button  [disabled]="signInForm.invalid"  (click)="login()">connexion</button>


    </div>
    <div class="d-sm-flex align-items-left  mb-4">

      <a  mat-button routerLink="/signup">inscription</a>
    </div>

  </mat-card-content>
</mat-card>




